* {
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background-color: #bbbbbb;
    padding: 20px 0;
}
container-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #bbbbbb;
    padding: 20px 0;
}
.box {
    display: flex;
    flex-direction: row;
    margin-left: 30px;
   
}
.menu-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    margin-right: 30px;
}
nav li { 
    display: inline;
    margin: 0 0 0 15px;
}
nav a {
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}
nav a:hover {
    color: #C78C19;
    text-decoration: underline;
}
main {
    margin: 0px auto;
}
form {
    margin: 20px 40px 0;
    width: 800px;
}
form label, legend {
    display: block;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 13px;
    margin: 5px 0 10px; /*top, right, bottom had values but the left doesn't.*/
}
.input-standard {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px; /*top and down AND right and left*/
    width: 50%;
}
.checkbox {
    margin: 20px 0;
}
fieldset {
    border: none;
}
#submit {
    width: 40%;
    padding: 15px 0;
    background: orange;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
}
#submit:hover {
    background: rgb(195, 108, 2);
    transform: scale(1) rotate(5deg);
}
table {
    font-family: sans-serif;
    margin: 20px 0 40px;
}
thead {
    background: rgb(40, 39, 39);
    color: white;
    font-size: 18px;
}
td, th {
    border: 1px solid #000000;
    padding: 15px 8px;
    width: 15%;
} 
.days-open {
    margin: 30px;
}
footer {
    text-align: center;
    background-image: url(images/bg.jpg);
    background-repeat: repeat;
    background-color: #191717;
    padding: 40px 0;
}
footer > p {
    color: white;
    font-size: 13px;
    margin: 20px 0 0;
}
@media screen and (max-width: 980px) {
    .container-header {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .box-img {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .menu-navigation {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    .menu-wrapper li {
      margin: 5px;
    }
    form {
        margin: 20px 0;
        width: 550px;
    }
    .days-open{
        margin-left: 10px;
        width: 70%;
    }
    
  }
